<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoSave.ehdgns.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoSave.ehdgns.Properties.Settings1>
            <setting name="Hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sec" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoSave.ehdgns.Properties.Settings1>
    </userSettings>
</configuration>